<div class="card mt-3 mb-3">
  
        <div class="row">
            <div class="col">
                <p class="card-text text-center mt-2 mb-2">
            Colegio San José de Monterrico © 2021
                </p>
      
            </div>
            <div class="col">
                <p class="card-text text-center mt-2 mb-2">
                   JG - Desarrollo web 
                </p>
            </div>  
       </div>
    
</div>